@mixin active {
  color: #0050b3;
  background-color: #bae7ff;
  border-right: 3px solid #0050b3;
}
@mixin unactive {
  color: black;
  background-color: white;
  border-right: 3px solid white;
}
@mixin item {
  width: auto;
  padding: 5px 0;
  text-align: center;
  display: block;
}
.menu-item {
  @include item();
  &.active {
    @include active();
  }
  &.unactive {
    @include unactive();
  }
}
