@mixin isactive($isActive: true) {
  color: if($isActive, #0050b3, #000000);
  background-color: if($isActive, #bae7ff, #ffffff);
  border-right: 3px solid if($isActive, #0050b3, #ffffff);
}
.menu-item {
  width: auto;
  padding: 5px 0;
  text-align: center;
  display: block;
  &.active {
    @include isactive();
  }
  &.unactive {
    @include isactive(false);
  }
}
