.common-sidebar {
  @mixin sidebar($width: 200px) {
    border-right: 1px solid #bfbfbf;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $width;
  }
  &.opened {
    @include sidebar();
  }
  &.closed {
    @include sidebar(100px);
  }
  .menus {
    flex: 23;
    a {
      text-decoration: none;
    }
  }

  .sidebar-btn {
    flex: 1;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1890ff;
  }
}
