@mixin layout {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  width: 100%;
  background-color: white;
}

html,
body,
#root {
  @include layout();
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  text-align: center;
  color: white;
  line-height: 32px;
}
.site-layout .site-layout-background {
  background: #fff;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.site-layout-footer {
  background-color: greenyellow !important;
  text-align: center;
}
.site-layout-content {
  overflow: hidden;
}
