@mixin layout {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  width: 100%;
  background-color: white;
}

html,
body,
#root {
  @include layout();
}

.layout {
  display: flex;
  flex-direction: row;
  position: absolute;
  @include layout();
  .right-box {
    flex: 5;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    .pages-box {
      overflow-y: scroll;
      flex: 5;
    }
  }
}
